{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}
<!--Page header-->
<div class="container">
	<div class="row">
		<div class="text-center max-width pt-5 pb-5">
			<h3>All listings!</h3>
		</div>
	</div>
<!--End of page header-->
<!--Table header-->
	<div class="row pb-3 pt-3 hidden-when-small">
		<div class="col-sm-1"></div>
		<div class="col-sm-11 col-md-2">
			<p><u>Vendor Name</u></p>
		</div>
		<div class="col-sm-11 col-md-2">
			<p><u>Card Name</u></p>
		</div>
		<div class="col-sm-11 col-md-2">
			<p><u>Condition</u></p>
		</div>
		<div class="col-sm-11 col-md-1">
			<p><u>Price</u></p>
		</div>
	</div>
<!--End of table header-->

<!--List of cards-->
	{% for card in cards %}
	<div class="row pb-1 pt-4 cardlist-row">
		<div class="center col-sm-1" onmouseenter="imageToggleShow({{ card.id }})" onmouseleave="imageToggleHide({{ card.id }})">
			<img class="camera-icon" src="{% static 'img/camera_icon.png' %}" alt="Camera Icon">
		</div>
		{% if card.image %}
			<img class="card-image-hidden" id="{{card.id}}" src="/media/{{ card.image }}">
        {% endif %}
			<div class="col-sm-11 col-md-2"><a href="{% url 'view_profile' card.user.id %}">{{ card.user.username }}</a>
			</div>
			<div class="col-sm-11 col-md-2">{{ card.card_title }}</div>
			<div class="col-sm-11 col-md-2">{{ card.card_condition }}</div>
			<div class="col-sm-11 col-md-1">£{{ card.card_price }}</div>
			<div class="col-sm-11 col-md-2">
                <a href="{% url 'card_detail' card.id %}" class="button-effect nobreak">View Listing</a>
			</div>
        {% if user.is_authenticated %}
			<div class="col-sm-11 col-md-2 negative-top">
				<form method="post" action="{% url 'add_to_cart' card.id %}">
					{% csrf_token %}
					<div class="input-group">
						<input class="add-to-cart-quantity" name="quantity" type="number" min="1" max="10000" placeholder="Quantity" value="1">
						<span class="input-group-btn">
                            <button class="btn" type="submit"><i class="fas fa-cart-plus fa-lg"></i></button>
                        </span>
					</div>
				</form>
			</div>
		{% endif %}
	</div>
		{% endfor %}
<!--End of list of cards-->
	</div>
	{% endblock %}


	{% block end_js %}
	<script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
	{% endblock %}