{% extends "base.html" %}
{% load static from staticfiles %}
{% block content %}

<!--This displays any messages such as "you have been logged out" etc.-->
<div class="row relative">
	{% if messages %}
	<div class="django-message p-2">
		{% for message in messages %}
		<h4> {{message}} </h4>
		{% endfor %}
	</div>
	{% endif %}
</div>
<!--End messages section-->

<!--Main Page Background Image-->
<div class="banner-parent">
	<img class="w-100" id="cover-image" src="{% static 'img/banner-img-1.jpg' %}" alt="banner-image">
	<div class="banner-child">
		<h1 class="pl-5 pt-5 pr-5">Discover thousands of MTG cards!</h1>
        <div class="pl-5 pt-5 pr-5">
            <button class="btn btn-secondary"><a class="white-text" href="{% url 'get_cards' %}">Start Now</a></button>
        </div>
	</div>
</div>
<!--End of background image-->
<div class="container-fluid no-padding">
	<!--Website Header-->
	<div class="container">
		<div class="row border-bottom">
			<div class="px-3 py-3 pt-md-4 pb-md-6 text-center">
				<h1 class="col-12">Magic Market Update</h1>
				<p class="col-12 large-text">During the global pandemic we're more dedicated than ever to help the community stay connected to their local stores and keep playing Magic: The Gathering. 
                We're going to be hosting several tournaments from the comfort of our homes, with all the money raised going towards COVID-19 research. How will it work you may ask? It's very simple! Just set up
                a webcam, point it at your play area, making sure to keep your deck and hand in frame (without showing your cards of course!), and hop in a Discord call with your opponent and one of our certified level 
                2 judges! We chose to do it in paper since we understand that a lot of you prefer paper magic and don't have collections on Arena that compare to what you can pull together with paper cards.
                Prizes include store credit and the new commander products!</p>
				<p class="col-12 large-text">The health and safety of our employees and partners is our top priority and number 1 concern. Due to this we've enforced strict social distancing guidelines in our warehouses, as well
                as working with a much smaller staff. As a result of this we can't guarantee the delivery speeds you might be accustomed to, but worry not! We still guarantee your product will arrive, and you might even find some
                special easter eggs included as a thank you for your patience.</p>
			</div>
		</div>
	</div>
	<!---->

	<!--Latest listings section-->
	<div class="container-fluid cards-background border-bottom">
		<div class="container">
			<div class="row pt-3 pb-2">
				<h1 class="col-12 center">Latest Cards</h1>
			</div>
			<div class="row">
				{% for card in cards|dictsortreversed:"listing_published_date"|slice:"3" %}
				<div class="col-sm-12 col-md-4 justify-center pt-3 pb-5">

					<div class="row justify-center">
						<div>
							<a href="{% url 'card_detail' card.id %}">
								<img class="d-block carousel-image margin-center justify-center" src="{{ MEDIA_URL }}{{ card.image }}" alt="Image #{{ forloop.counter }}">
							</a>
						</div>
					</div>

					<div class="row justify-center center pt-3">
						<div>
							<p class="border-bottom p-1">
								<span class="boldtext">Price: </span>£{{ card.card_price }}
							</p>
							<p class="border-bottom p-1">Vendor: 
                                <a class="underline-link" href="{% url 'view_profile' card.user.id %}">{{ card.user.username }}</a>
							</p>
							<p class="p-1">
                                <span class="boldtext">Condition:</span>
							{{ card.card_condition }}</p>
							<div class="row justify-center">
								{% if user.is_authenticated and user != card.user %}
								    <form method="post" action="{% url 'add_to_cart' card.id %}">
									    {% csrf_token %}
									    <div class="input-group cart-form">
										    <input class="add-to-cart-quantity" name="quantity" type="number" min="1" max="{{ card.card_amount }}" placeholder="Quantity" value="1">
										    <button class="btn" type="submit"><i class="fas fa-cart-plus fa-lg"></i></button>
									    </div>
								    </form>
								{% elif user == card.user %}
								    <a href="{% url 'edit_card' card.id %}" class="button-effect nobreak">Edit Listing</a>
								{% endif %}
							</div>
						</div>
					</div>

				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<!--End of SECTION-->

	<!--Most Popular section-->
	<div class="container-fluid cards-background">
		<div class="container">
			<div class="row pt-5">
				<h1 class="col-12 center">Most Popular Cards</h1>
			</div>

			<div class="row">
				{% for card in cards|dictsortreversed:"listing_views"|slice:"3" %}
				<div class="col-sm-12 col-md-4 justify-center pt-3 pb-5">
					<div class="row justify-center">
						<div>
							<a href="{% url 'card_detail' card.id %}">
								<img class="d-block carousel-image margin-center justify-center" src="{{ MEDIA_URL }}{{ card.image }}" alt="Image #{{ forloop.counter }}">
							</a>
						</div>
					</div>
					<div class="row justify-center center pt-3">
						<div>
							<p class="border-bottom p-1">
								<span class="boldtext">Price: </span>£{{ card.card_price }}
							</p>
							<p class="border-bottom p-1">Vendor: 
                                <a class="underline-link" href="{% url 'view_profile' card.user.id %}">{{ card.user.username }}</a>
							</p>
							<p class="p-1">
                                <span class="boldtext">Condition:</span>
                            {{ card.card_condition }}</p>
							<div class="row justify-center">
								{% if user.is_authenticated and user != card.user %}
								    <form method="post" action="{% url 'add_to_cart' card.id %}">
									    {% csrf_token %}
									    <div class="input-group cart-form">
										    <input class="add-to-cart-quantity" name="quantity" type="number" min="1" max="{{ card.card_amount }}" placeholder="Quantity" value="1">
										    <button class="btn" type="submit"><i class="fas fa-cart-plus fa-lg"></i></button>
									    </div>
								    </form>
								{% elif user == card.user %}
								    <a href="{% url 'edit_card' card.id %}" class="button-effect nobreak">Edit Listing</a>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>

		</div>
	</div>
	<!--End of SECTION-->

	<!--Deck Help Section-->
	<div class="container">

		<div class="row border-top">
			<div class="px-3 py-3 pt-md-4 pb-md-6 margin-center">
				<div class="row pt-5">
				    <h1 class="col-12 center">Deckbuilders Toolkit</h1>
			    </div>
				<p class="lead">Not Sure where to start? Need help picking which cards are best in your
					new deck? We're here to help!</p>
				<p><a class="underline-link" href="mailto:testemail@gmail.com">Send us an email</a> and we'll be
					happy to help! We can
					help you with</p>
				<ul>
					<li>Deck Building</li>
					<li>Finding specific cards</li>
					<li>Budget alternatives</li>
					<li>Finding out which format is right for you!</li>
					<li>Rules questions</li>
				</ul>
				<p>You can also check out some of other resources below. The MTG community is booming
					and are always looking to help newcomers!</p>
			</div>
		</div>

		<div class="row pb-5">

			<div class="col-sm-12 col-md-4 no-spacing text-center">
				<a class="underline-link pb-1" target="_blank" href="https://edhrec.com/">
					<img class="resource_image" src="{% static 'img/4x4_1.jpg' %}" alt="edhrec link">
					<h4 class="pt-2 center">EDH Rec</h4>
				</a>
				<p class="p-2">Learn about all things EDH!</p>
			</div>

			<div class="col-sm-12 col-md-4 no-spacing text-center">
				<a class="underline-link pb-1" target="_blank" href="https://www.reddit.com/r/magicTCG/">
					<img class="resource_image" src="{% static 'img/4x4_2.jpg' %}" alt="reddit link">
					<h4 class="pt-2 center">Reddit</h4>
				</a>
				<p class="p-2 m-1">Browse the subreddit</p>
                <p class="p-2 m-1">Talk to the community</p>
                <p class="p-2 m-1">Ask questions!</p>
			</div>

			<div class="col-sm-12 col-md-4 no-spacing text-center">
				<a class="underline-link pb-1" target="_blank" href="https://scryfall.com/">
					<img class="resource_image" src="{% static 'img/4x4_3.jpg' %}" alt="scryfall">
					<h4 class="pt-2 center">Scryfall</h4>
				</a>
				<p class="p-2">Look through the tens of thousands of cards in Magic: The Gathering!</p>
			</div>
            
		</div>
	</div>
	<!--End of deck help-->
</div>
{% endblock %}
{% block end_js %}
<script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
{% endblock %}