{% extends "base.html" %}
{% load static from staticfiles %}
{% block content %}

<!--This displays any messages such as "you have been logged out" etc.-->
<div class="row">
	{% if messages %}
	<div>
		{% for message in messages %}
		<h1>{{message}}</h1>
		{% endfor %}
	</div>
	{% endif %}
</div>
<!--End messages section-->

<!--Website Header-->
<div class="row">
	<div class="px-3 py-3 pt-md-4 pb-md-6 mx-auto text-center">
		<h3 class="display-4">This is the home page</h3>
		<p class="lead">This is filler text below the home page. Lorem, ipsum dolor sit amet consectetur adipisicing
			elit.tatibus excepturi voluptas itaque? A debitis tempore libero itaque!</p>
	</div>
</div>
<!---->
<div class="row justify-content-around max-width pt-3">
	<!--Popular cards sorted by views-->
	<div class="col-sm-12 col-md-12 col-lg-4">
		<h1 class="pb-3 mb-4 border-bottom">
			Popular Listings
		</h1>

		{% for card in cards|dictsortreversed:"listing_views" %}



		<!--This is a test id to try to trigger the display image function in custom.js-->
		<button class="button" id="show-image-{{ forloop.counter0 }}">Show Image</button>
		<button class="button" id="hide-image-{{ forloop.counter0 }}">Hide Image</button>
		<!---->
		<div class="card mb-4 shadow-sm">

			<div class="card-header">
				{{ card.card_title }}
			</div>
			<div class="card-body">
				<p>{{ card.card_description|truncatewords:30 }}</p>

				{% if card.image %}
				<img class="card-image" id="card-image-test-{{ forloop.counter0 }}" src="/media/{{ card.image }}">
                {% endif %}

			</div>
				<p><a href="{% url 'card_detail' card.id %}" class="btn btn-default button-effect">Read more</a></p>
			</div>
			{% endfor %}
		</div>
		<!--End of popular cards sections-->

		<!--Second section, currently also just popular cards. FILLER!!!-->
		<div class="col-sm-12 col-md-12 col-lg-4">
			<h1 class="pb-3 mb-4 border-bottom">
				Recent Listings
			</h1>
			{% for card in cards|dictsortreversed:"listing_created_date"%}

			<div class="card mb-4 shadow-sm">
				<div class="card-header">
					{{ card.card_title }}
				</div>
				<div class="card-body">
					<p>{{ card.card_description|truncatewords:30 }}</p>
					{% if card.image %}
					<img class="card-image" src="/media/{{ card.image }}">
                    {% endif %}

				</div>
					<p><a href="{% url 'card_detail' card.id %}" class="btn btn-default button-effect">Read more</a></p>
				</div>
				{% endfor %}
			</div>
			<!--End of FILLER SECTION-->
		</div>
		{% endblock %}

		{% block end_js %}
		<script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
		{% endblock %}