/*Document classes*/
body{
    font-family: 'Zilla Slab', serif;
    color: #2a3439;
}

.btn-custom{
    color: #fff;
    background-color:#2a3439;
    border-color:#2a3439;
    margin-left: 20px;
}

.table td{
    vertical-align: middle;
}
/*End of Document classes*/

/*Utility Classes*/

.max-width{
    width: 100%;
}

.center{
    text-align: center;
}

.center-small{
    text-align: center;
}

.negative-top{
    top: -8px;
}

.nobreak {
  white-space: nowrap;
}

.hidden-when-small{
    display: none;
}

.underline-link{
    text-decoration: underline;
    color: #2a3439;
}

/*End of Utility Classes*/


.navbar-background{
    background-color: #2a3439;
    padding: 0;
    color: #fff;
}


.card-minimalistic{
    margin: auto;
    text-align: center;
    padding-top: 25px;
    color: #2a3439;
}

.button-effect{
    margin-right: 20px;
    color: #fff;
    text-decoration: none;
    background-color:#2a3439;
    padding: 5px;
    border-radius: 5px;
}

.cardlist-row{
    border-bottom-style: solid;
    border-bottom-width: thin;
}

.button-effect:hover{
    color: #fff;
    background-color: #767676;
    transition: 0.5s;
    border-color: #767676;
    text-decoration: none;
}

.add-to-cart-quantity{
    max-width: 50px;
    border-radius: 5px;
    margin-right: 12px;
    text-align: center;
    border-color: #767676
}

.card-image{
    max-height: 270px;
}

.card-image-hidden{
    max-height: 270px;
    position: absolute;
    display: none;
    z-index: 1;
}

.card-page-image{
    max-width: 25rem;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}
.camera-icon{
    display: none;
}

#show-image{
    height: auto;
    width: auto;
}

.carousel-control-next {
  opacity: 1;
}
.carousel-control-prev {
  opacity: 1;
}

.thead-dark {
    background-color: #2a3439;
    border-color: #2a3439;
}
/* MEDIA QUERIES */ 

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
    
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .hidden-when-small{
        display: flex;
    }

    .camera-icon{
        width: 65%;
        height: auto;
        position: relative;
        bottom: 5px;
        display: block;
    }

    .center-small{
        text-align: inherit;
    }

    .card-page-image{
        margin-right: 0px;
        margin-left: 0px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
   .camera-icon{
        width: 50%; 
   }
    
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}