body{
font-family: 'Zilla Slab', serif;

}

a:hover{
    text-decoration: none;
}

.max-width{
    width: 100%;
}

.center{
    text-align: center;
}
/*
.button-effect{
    border-style: solid;
    padding: 5px;
    margin: 0 20px 0 20px;
    color: #fff;
    background-color: #000;
    border-radius: 8px;
    border-color: #000;
    text-decoration: none;
}
*/
.negative-top{
    top: -8px;
}

.button-effect:hover{
    color: #fff;
    background-color: #767676;
    transition: 0.5s;
    border-color: #767676;
    text-decoration: none;
}

.add-to-cart-quantity{
    max-width: 50px;
    border-radius: 5px;
    margin-right: 12px;
    text-align: center;
    border-color: #767676
}

.hidden-when-small{
        display: none;
    }

.card-image{
    max-height: 270px;
    display: none;
}

#show-image{
    height: auto;
    width: auto;
}


/* MEDIA QUERIES */ 

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .hidden-when-small{
        display: flex;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}