{% extends "base.html" %}
{% load static from staticfiles %}
{% block content %}


<div class="container">
	<div class="row">
		<div class="text-center max-width pt-5 pb-5">
			<h3>Advanced Search</h3>
		</div>
	</div>
    
	<div class="row">
		<form class="col-12" action="{% url 'advanced_search' %}" method="GET">
			<div>
				<div class="form-group">
					<div class="co-sm-12">
						<label class="control-label p-1 bold">Card Name</label>
                        <div>                        
                            <input class="form-control" type="text" name="title" placeholder="Example: Sol Ring">
                        </div>
                    </div>
				</div>

                <div class="form-group">
					<div class="co-sm-12">
						<label class="control-label p-1 bold">Card Edition</label>
                        <div>                        
                            <input class="form-control" type="text" name="edition" placeholder="Example: 1st">
                        </div>
                    </div>
				</div>

				 <div class="form-group">
					<div class="co-sm-12">
						<label class="control-label p-1 bold">Condition</label>
                        <div>                        
                            <div class="input-group mb-3">
                                <select class="custom-select" id="inputGroupSelect01" name="condition">
                                    <option selected value="1"></option>
                                    <option value="M">Mint</option>
                                    <option value="NM">Near Mint</option>
                                    <option value="EX">Excellent</option>
                                    <option value="GD">Good</option>
                                    <option value="LP">Lightly Played</option>
                                    <option value="PL">Played</option>
                                    <option value="P">Poor</option>
                                </select>
                            </div>
                        </div>
                    </div>
				</div>

                <div class="form-group">
					<div class="co-sm-12">
						<label class="control-label p-1 bold">Vendor Name</label>
                        <div>                        
                            <input class="form-control" type="text" name="vendor">
                        </div>
                    </div>
				</div>

                <div class="form-group">
					<div class="co-sm-12">
						<label class="control-label p-1 bold">Min Price (£)</label>
                        <div>                        
                            <input class="form-control" value="0" type="number" name="minprice" step=".01" required>
                        </div>
                    </div>
				</div>

                 <div class="form-group">
					<div class="co-sm-12">
						<label class="control-label p-1 bold">Max Price (£)</label>
                        <div>                        
                            <input class="form-control" value="999999" type="number" name="maxprice" step=".01" required>
                        </div>
                    </div>
				</div>

				<div class="row advanced-search">
					<button class="button-effect" type="submit">Search</button>
				</div>
			</div>
		</form>
	</div>
</div>

{% endblock %}