{% extends "base.html" %}
{% load static from staticfiles %}
{% block content %}


<div class="container">
	<div class="row">
		<div class="text-center max-width pt-5 pb-5">
			<h3>Advanced Search</h3>
		</div>
	</div>
	<div class="row">
		<form class="col-12" action="{% url 'advanced_search' %}" method="GET">
			<div>
				<div class="row advanced-search">
					<div class="col-sm-12 col-md-3">
						<h5>Card Name</h5>
					</div>
					<div class="co-sm-12 col-md-9">
						<input class="form-control" type="text" name="title" placeholder="Example: Sol Ring">
                    </div>
				</div>

				<div class="row advanced-search">
					<div class="col-sm-12 col-md-3">
						<h5>Card Edition</h5>
					</div>
				    <div class="co-sm-12 col-md-9">
						<input class="form-control" type="text" name="edition" placeholder="Example: 1st">
                    </div>
				</div>

				<div class="row advanced-search">
					<div class="col-sm-12 col-md-3">
						<h5>Card Condition</h5>
					</div>
				<div class="co-sm-12 col-md-9">     
                        <div class="input-group mb-3">
                            <select class="custom-select" id="inputGroupSelect01" name="condition">
                                <option selected value="1"></option>
                                <option value="M">Mint</option>
                                <option value="NM">Near Mint</option>
                                <option value="EX">Excellent</option>
                                <option value="GD">Good</option>
                                <option value="LP">Lightly Played</option>
                                <option value="PL">Played</option>
                                <option value="P">Poor</option>
                            </select>
                        </div>
                    </div>
				</div>

                <div class="row advanced-search">
					<div class="col-sm-12 col-md-3">
						<h5>Vendor Name</h5>
					</div>
				    <div class="co-sm-12 col-md-9">
						<input class="form-control" type="text" name="vendor">
                    </div>
				</div>

                <div class="row advanced-search">
					<div class="col-sm-12 col-md-3">
						<h5>Min Price (£)</h5>
					</div>
				    <div class="co-sm-12 col-md-9">
						<input class="form-control" value="0" type="number" name="minprice" step=".01" required>
                    </div>
				</div>

                <div class="row advanced-search">
					<div class="col-sm-12 col-md-3">
						<h5>Max Price (£)</h5>
					</div>
				    <div class="co-sm-12 col-md-9">
						<input class="form-control" value="999999" type="number" name="maxprice" step=".01" required>
                    </div>
				</div>

				<div class="row advanced-search ml-1">
					<button class="button-effect" type="submit">Search</button>
				</div>
			</div>
		</form>
	</div>
</div>

{% endblock %}