{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}
<div class="container small-body pt-4">
	<!--Page Header-->
	<div class="row">
		<div class="text-center max-width pt-5 pb-5">
			<h3>Shopping Cart</h3>
		</div>
	</div>
	<!---->
	<div class="row">
		<div class="col-sm-12 col-md-8">
			<div class="row justify-content-center pb-2">
				<h4>Cart Summary</h4>
			</div>
			{% for item in cart_items %}
			<div class="row justify-content-center">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">{{ item.quantity }}x {{ item.card.card_title }}</h5>
						<p class="card-text">Price: £{{ item.card.card_price }}</p>
						<p class="card-text">Vendor: {{ item.card.user.username }}</p>
						<p>
							<form class="form-inline" method="POST" action="{% url 'adjust_cart' item.id %}">
								{% csrf_token %}
								<button class="btn btn-dark" type="submit">Edit</button>
							</form>
						</p>
					</div>
				</div>
			</div>
			{% endfor %}

		</div>
		<div class="col-sm-12 col-md-4 pt-2">
			<div class="row justify-content-center">
				<p>{{ card_count }} items</p>
			</div>
			<div class="row justify-content-center">
				<p>Total: £{{ total }}</p>
			</div>
			<div class="row justify-content-center">
				<a href="{% url 'checkout' %}" class="btn btn-success" role="button">Checkout</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}